*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  background-color: var(--bg);
}

button,
input,
textarea,
select {
  font: inherit;
}

:root {
  color-scheme: light;
  --primary-text: #000;
  --primary: #0d8b0d;
  --bg: #f4f4f4;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 320px) {
    max-width: 300px;
    padding-inline: 0;
  }

  @media (min-width: 400px) {
    max-width: 376px;
  }

  @media (min-width: 480px) {
    max-width: 450px;
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }

  @media (min-width: 1600px) {
    max-width: 1440px;
  }

  @media (min-width: 1920px) {
    max-width: 1600px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}
